body {
	min-width: 357px;
	/*overflow-x: hidden;*/
	/*reda*/
	overflow: hidden;
	height: 600px; /* fix for mac */
}

#parent{
	margin-bottom: 50px;
	margin-right: 50px;
}

img {
	float:left;
	margin-right: 10px;
	margin-left:45px;
}

#result{
	margin-top:15px;
}

#result img{
	width: 24px;
}

/* * * * * * * * * * * * * * * */
/* * * *  Contact  menu  * * * */

.slide1{
  position: relative;
  left: 80px;
  top: 128px;	
}
.slide2{
  position: relative;
  left: 80px;
  top: 176px;
}

.slide-hidden{
  position: relative;
  left: -8888px;
}

#slidebottom{
font-size:12px;	
}

/*
.inner1, .inner2{
 	position: absolute;
	top:-20px; 	
	left:-81px;
 } 
*/
.inner{
 	position: absolute;
	top:-36px; 	
	left:49px;
 } 
 
.contact-button-loading{
	float: right; margin-right: 158px; margin-top: -55px;
}

.contact-button{
	width:36px;
	margin-right: 149px;
}

/* * * *  Contact  menu  * * * */
/* * * * * * * * * * * * * * * */
 
#menu_bar_1, #menu_bar_2 {
	font-size:11px;
	line-height:23px;
	margin-top:25px;
	padding:10px 0px 12px;
	text-align:right;
}
#menu_bar_1, #menu_bar_2{
	/*background:#88BBD4 url(images/toggle_down_light.png) no-repeat scroll 98% 46%;*/
	background-color:#88BBD4;
	background-image: url(../images/toggle_down_light.png);
	background-repeat: no-repeat;
	background-position:98% 46%;
	
	margin-left:33px;
	padding:0;
	text-align:left;
	width:330px;
	
	-webkit-border-top-left-radius:4px;
	-webkit-border-top-right-radius:4px;
	-webkit-border-bottom-left-radius:4px;
}

#menu_bar_1:hover, #menu_bar_2:hover{
	/*background:#59B url(../images/toggle_down_light.png) no-repeat scroll 98% 46%;;*/
	background-color:#59B;
	cursor: pointer;
}

a.signin {
	background:#88bbd4;
	/*padding:4px 6px 6px;*/
	padding:4px 33px 6px 6px;
	text-decoration:none;
	font-weight:bold;
	color:#fff ;
	-webkit-border-top-left-radius:4px;
	-webkit-border-top-right-radius:4px;
	-webkit-border-bottom-left-radius:4px;
	outline: none;
}
 #menu_bar_1 a.signin,#menu_bar_2 a.signin {
 	background: transparent;
 }
 
a.signin span{
	padding:4px 16px 6px 0;
}

#menu_bar_1 a.signin span,#menu_bar_2 a.signin span {
	padding:4px 156px 6px 0;
}

#menu_bar_1.menu-open, #menu_bar_2.menu-open  {
	-webkit-border-bottom-left-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	
	background-color:#ddeef6;
	color:#666;/* == #789*/
	outline:none;
}



#menu_bar_1.menu-open, #menu_bar_2.menu-open {
	background-image:url("../images/toggle_up_dark.png");
}

#menu_bar_1.menu-open span, #menu_bar_2.menu-open span{
	color:#789;
}


#signin_menu,#fieldset1,#fieldset2{
	-webkit-border-bottom-left-radius:5px;
	-webkit-border-bottom-right-radius:5px;
	background-color:#ddeef6;
	z-index:100;
	border:1px transparent;
	
	color:#789;
	font-size:11px;
	margin-left: 33px;
	margin-right: -13px;
	padding:12px 32px 12px 28px;
	text-align:left;
	width:270px;
}


#fieldset1,#fieldset2{
	/*casse les contacts, si tu remets il faut sortir les contact du fieldset*/
	/*display:none;*/
	-webkit-border-bottom-left-radius:5px;
	-webkit-border-bottom-right-radius:5px;
}



/*Comme dans register , ce #signin_menu doit être remplacer par .myFieldSet ici, et dans l'html en bas.*/
#signin_menu input[type=text],#signin_menu textarea,#signin_menu input[type=password],
#fieldset1 input[type=text],#fieldset1 textarea,#fieldset1 input[type=password], 
#fieldset2 input[type=text],#fieldset2 textarea,#fieldset2 input[type=password] {
	display:block;
	-webkit-border-radius:4px;
	border:1px solid #ACE;
	font-size:13px;
	margin:0 0 5px;
	padding:5px;
	/*width:203px;*/
	width:100%;
}

#signin_menu p , #fieldset1 p, #fieldset2 p{
	margin:0;
}
#signin_menu a, #fieldset1 a, #fieldset2 a {
	color:#6AC;
}
#signin_menu label , #fieldset1 label , #fieldset2 label {
	float:left;/*pour que les warning se mettent à droite*/
	font-weight:normal;
	margin-right: 5px;
}
#signin_menu p.remember , #fieldset1 #signin_menu p.remember, #fieldset2 #signin_menu p.remember{
	padding:10px 0;
}
#signin_menu p.forgot, #signin_menu p.complete, #fieldset1 p.forgot, #fieldset1 p.complete,#fieldset2 p.forgot, #fieldset2 p.complete{
	clear:both;
	margin:5px 0;
}
#signin_menu p a, #fieldset1 p a, #fieldset2 p a{
	color:#27B!important;
}


#signin_submit::-moz-focus-inner {
padding:0;
border:0;
}
#signin_submit:hover, #signin_submit:focus {
	background-position:0 -5px;
	cursor:pointer;
}


.flashInfo{
	width: 386px;
	text-align: center;
}

/*fieldset input[type=submit]*/
.submitButton{
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	background:#39d url('../images/bg-btn-blue.png') repeat-x scroll 0 0;
	border:1px solid #39D;
	color:#fff;
	text-shadow:0 -1px 0 #39d;
	padding:4px 10px 5px;
	font-size:11px;
	margin:0 5px 0 0;
	font-weight:bold;
	}